.landing {
  height: 75vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.landing .swiper {
  width: 100%;
  height: 100%;
}

.landing .swiper_slider {
  position: relative;
}

.landing .swiper_slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing .swiper_slider div {
  font-family: "Playpen Sans", cursive;
  position: absolute;
  top: 50%;
  left: 10%;
  cursor: default;
  transform: translateY(-50%);
  color: var(--green);
  width: 300px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
