.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  place-items: center;
  gap: 30px;
  padding: 60px 0;
}
.cards img {
  width: 150px;
  height: 150px;
  margin: auto;
  object-fit: contain;
}
.cards button:last-child {
  border: none;
  background-color: var(--green-50);
  font-weight: 600;
}
.cards button:last-child:hover {
  background-color: var(--green);
}
.wish_list_heart {
  font-size: 25px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--green);
  cursor: pointer;
}
