body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 58px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --light: #ffeef4;
  --light-yellow: #e4e4d0;
  --green-50: #aec3ae;
  --green: #94a684;
  --dark: #222;

  /* Transition */
  --main-transition: 0.3s;
}
.product_page {
  min-height: 100vh;
}
